<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
		<section name="ServiceConfig" 
			 type="OneCService2.ServiceConfig, OneCService2"/>
	<section name="Connections" 
			 type="OneCService2.Connections, OneCService2"/>
	</configSections>


	<!-- WCF log -->
	<system.diagnostics>
	  <sources>
      		<source name="System.ServiceModel.MessageLogging">
        		<listeners>
                 		<add name="messages"
                 		type="System.Diagnostics.XmlWriterTraceListener"
		                initializeData="D:\messages.svclog" />
		        </listeners>
		</source>
	  </sources>
	</system.diagnostics>

	<system.serviceModel>
	  <diagnostics>
	    <messageLogging 
        	 logEntireMessage="true" 
	         logMalformedMessages="true"
        	 logMessagesAtServiceLevel="true" 
	         logMessagesAtTransportLevel="true"
	         maxMessagesToLog="3000000"
        	 maxSizeOfMessageToLog="3000000"/>
	  </diagnostics>
	</system.serviceModel>


	<!-- OneCService2 config -->	
	<ServiceConfig Host="127.0.0.1" Port="9000"/>

	<Connections>
		<Connection Name="Test81" 
			    Mode="File"
			    File="C:\Work\1C\Test"
		            UserName=""
			    Password=""	
			    AdapterType="OneCService2.V81Adapter"
			    PoolSize="1"
			    PoolUserName="PoolUserName"
                            PoolPassword="PoolPassword"/>
<!--		<Connection Name="Test82" 
			    Mode="File"
			    File="C:\Work\1C\Test82"
		            UserName=""
			    Password=""	
			    AdapterType="OneCService2.V82Adapter"
			    PoolSize="2"
			    PoolUserName="PoolUserName"
                            PoolPassword="PoolPassword"/> -->
	</Connections>

</configuration>
