<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ServiceConfig" 
			 type="OneCService2.ServiceConfig, OneCService2"/>
	<section name="Connections" 
			 type="OneCService2.Connections, OneCService2"/>
	</configSections>
	
	<ServiceConfig Host="127.0.0.1" Port="9000"/>

	<Connections>
		<Connection Name="Test81" 
			    Mode="File"
			    File="C:\Work\1C\Test"
		            UserName=""
			    Password=""	
			    AdapterType="OneCService2.V81Adapter"
			    PoolSize="1"
			    PoolUserName="PoolUserName"
                            PoolPassword="PoolPassword"/>
<!--		<Connection Name="Test82" 
			    Mode="File"
			    File="C:\Work\1C\Test82"
		            UserName=""
			    Password=""	
			    AdapterType="OneCService2.V82Adapter"
			    PoolSize="2"
			    PoolUserName="PoolUserName"
                            PoolPassword="PoolPassword"/> -->
	</Connections>

</configuration>
