<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ServiceConfig" 
			 type="OneCService2.ServiceConfig, OneCService2"/>
	<section name="Connections" 
			 type="OneCService2.Connections, OneCService2"/>
	</configSections>
	
	<ServiceConfig host="localhost" port="9000"/>

	<Connections>
		<Connection name="TestConnection" 
			    mode="File"
			    file=""
		            userName=""
			    password=""	
			    poolSize="2"/>
		<Connection name="TestServerConnection" 
			    mode="Server"
			    server=""
			    base=""
		            userName=""
			    password=""	
			    poolSize="3"/>
	</Connections>

</configuration>
