<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ServiceConfig" 
			 type="OneCService2.ServiceConfig, OneCService2"/>
	<section name="Connections" 
			 type="OneCService2.Connections, OneCService2"/>
	</configSections>


	<!-- WCF log -->
	<system.diagnostics>
	  <sources>
      		<source name="System.ServiceModel.MessageLogging">
        		<listeners>
                 		<add name="messages"
                 		type="System.Diagnostics.XmlWriterTraceListener"
		                initializeData="D:\messages.svclog" />
		        </listeners>
		</source>
	  </sources>
	</system.diagnostics>

	<system.serviceModel>
	  <diagnostics>
	    <messageLogging 
        	 logEntireMessage="true" 
	         logMalformedMessages="true"
        	 logMessagesAtServiceLevel="true" 
	         logMessagesAtTransportLevel="true"
	         maxMessagesToLog="3000000"
        	 maxSizeOfMessageToLog="3000000"/>
	  </diagnostics>
	</system.serviceModel>


	<!-- OneCService2 config -->	
	<ServiceConfig Host="127.0.0.1" Port="9000"/>

	<Connections>

	</Connections>

</configuration>
